/* === GLOBAL STYLES === */
::selection {
  color: #FFFFFF;
  background-color: #82CA9C; }

* {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  background-color: #FFFFFF; }

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto; }

h1, .more-info .more-info-content span {
  font-size: 4.2rem;
  font-weight: 300;
  margin-top: 0; }
  @media (min-width: 768px) {
    h1, .more-info .more-info-content span {
      font-size: 6rem; } }

h2 {
  color: #222626;
  font-size: 3.5rem;
  font-weight: 300;
  margin-top: 0; }

h3 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 4rem; }

h4 {
  color: #67676d;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2.4rem; }

p {
  color: #959595;
  font-size: 1.4rem;
  line-height: 2.4rem; }

a {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2.4rem;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-bottom 0.3s;
  -o-transition: border-bottom 0.3s;
  transition: border-bottom 0.3s; }
  a:focus {
    outline-color: #509769; }
  a:hover {
    border-bottom: 1px solid; }

img {
  max-width: 100%;
  height: auto; }

input, button {
  outline: none;
  border: none; }

/* === GRID SYSTEM STYLES - Mobile First === */
.row {
  margin: 0 -15px; }
  .row:before, .row:after {
    content: '';
    display: table;
    clear: both; }

[class*="col-"] {
  float: left;
  width: 100%;
  min-height: 1px;
  padding: 0 15px; }

.col-xs-1 {
  width: 8.3333333333%; }

.col-xs-2 {
  width: 16.6666666667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.3333333333%; }

.col-xs-5 {
  width: 41.6666666667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.3333333333%; }

.col-xs-8 {
  width: 66.6666666667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.3333333333%; }

.col-xs-11 {
  width: 91.6666666667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

[class*="flex-"] {
  flex: 100%; }

/* === ADDITIONAL STYLES === */
.pos-rel {
  position: relative; }

.arrow-right:after {
  content: '\f178';
  font-family: "FontAwesome";
  font-weight: normal;
  margin-left: 20px;
  -webkit-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  transition: margin-left 0.3s; }

.arrow-right:hover:after {
  margin-left: 25px; }

.heart:after {
  content: '\f08a';
  font-size: 1.8rem;
  font-family: "FontAwesome";
  position: absolute;
  right: 30px;
  bottom: 30px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.heart:hover:after {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3); }

.box-1 {
  background-color: #F5989D; }

.box-2 {
  background-color: #615F7D; }

.box-3 {
  background-image: url("../img/box-s.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.box-4 {
  background-image: url("../img/box-l.jpg");
  background-repeat: no-repeat;
  background-size: cover; }

.box-5 {
  background-color: #82CA9C; }

/* === HEADER STYLES === */
header {
  height: 100vh;
  background-image: url("../img/masthead.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden; }
  header .container {
    display: flex;
    flex-wrap: wrap;
    height: 100%; }
  header .logo {
    flex: 100%; }
    header .logo:hover {
      border-color: transparent; }
  header .header-content {
    color: #FFFFFF;
    max-width: 450px; }
    header .header-content p {
      font-size: 1.3rem; }
    header .header-content h1, header .header-content .more-info .more-info-content span, .more-info .more-info-content header .header-content span, header .header-content p {
      color: inherit; }

/* === START-INFO SECTION STYLES === */
.start-info {
  padding: 130px 0; }
  .start-info .iphone-img {
    display: none; }
    @media (min-width: 992px) {
      .start-info .iphone-img {
        display: inline-block;
        max-width: 50%;
        position: absolute;
        right: 0;
        bottom: 70px; } }
    @media (min-width: 1200px) {
      .start-info .iphone-img {
        max-width: 100%; } }

/* === BOXES SECTION STYLES === */
.boxes .container {
  padding: 0; }

.boxes .flex-container {
  display: flex;
  flex-wrap: wrap; }

.boxes .flex-order {
  order: 0; }
  @media (min-width: 768px) {
    .boxes .flex-order {
      order: 1; } }
  @media (min-width: 992px) {
    .boxes .flex-order {
      order: 0; } }

.boxes .box-item {
  padding: 145px 0;
  color: #FFFFFF;
  position: relative;
  overflow: hidden; }
  @media (min-width: 768px) {
    .boxes .box-item {
      padding: 34.75% 0; } }

.boxes .box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }
  .boxes .box-content h3 {
    margin-top: 0; }
  .boxes .box-content p {
    margin-bottom: 0;
    font-size: 1.3rem;
    overflow: hidden; }
  .boxes .box-content h3, .boxes .box-content p, .boxes .box-content a {
    color: inherit; }

.boxes .box-item-large {
  padding: 145px 0; }
  @media (min-width: 768px) {
    .boxes .box-item-large {
      padding: 17.375% 0; } }

/* === DETAILS SECTION STYLES === */
.details {
  padding: 130px 0; }

/* === MORE-INFO SECTION STYLES === */
.more-info {
  height: 85vh;
  padding-bottom: 5.1%;
  background-image: url("../img/wheel.jpg");
  background-repeat: no-repeat;
  background-position: left;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden; }
  .more-info .container {
    display: flex;
    align-items: flex-end;
    height: 100%; }
  .more-info .more-info-content {
    color: #FFFFFF; }
    @media (min-width: 768px) {
      .more-info .more-info-content {
        max-width: 550px; } }
    .more-info .more-info-content p {
      font-size: 1.3rem; }
      @media (min-width: 768px) {
        .more-info .more-info-content p {
          max-width: 450px; } }
      @media (min-width: 992px) {
        .more-info .more-info-content p {
          margin-top: 4.07692em; } }
    .more-info .more-info-content p, .more-info .more-info-content a {
      color: inherit; }

/* === REASONS SECTION STYLES === */
.reasons {
  padding: 130px 0;
  color: #FFFFFF;
  background-color: #82CA9C; }
  .reasons h2, .reasons h4, .reasons p {
    color: inherit; }

/* === BUYING SECTION STYLES === */
.buying {
  padding: 130px 0;
  background-color: #F6F7FA; }
  .buying .buying-content {
    padding: 15% 10%;
    color: #FFFFFF;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .buying .buying-content:hover {
      background-color: #FFFFFF;
      box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.3); }
    .buying .buying-content:hover .label {
      background-color: #BD8CBF; }
    @media (min-width: 768px) {
      .buying .buying-content {
        padding: 50px 45px; } }
  .buying h3 {
    color: #2E3B4E; }
  .buying p {
    color: #8297A7; }
  .buying .label {
    display: inline-block;
    padding: 1px 15px;
    border-radius: 5px;
    background-color: #E1E1E1;
    font-size: 1.1rem;
    font-weight: 800;
    line-height: 2.2rem;
    text-transform: uppercase;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
  .buying .btn-shop {
    width: 150px;
    height: 45px;
    padding: 0;
    border: none;
    border-radius: 3px;
    margin-bottom: 20px;
    color: inherit;
    background-color: #82CA9C;
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.2rem;
    letter-spacing: .2rem;
    text-transform: uppercase;
    cursor: pointer; }
    .buying .btn-shop:focus {
      box-shadow: 0 0 15px 7px #D7FFEF; }
  .buying i.fa {
    color: #C5C5C5;
    font-size: 2rem;
    cursor: pointer;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .buying i.fa:hover {
      -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5); }
    .buying i.fa + i.fa {
      margin-left: 15px; }

/* === FOOTER STYLES === */
footer {
  padding: 130px 0;
  color: #F6F7FA;
  background-color: #192431; }
  footer p {
    font-size: 1.3rem; }
  footer p, footer h4 {
    color: inherit; }
  footer ul {
    padding: 0;
    margin: 0;
    list-style: none; }
    footer ul a {
      color: inherit;
      font-size: 1.3rem;
      font-weight: 400; }
  footer .form-heading {
    margin-top: 3rem; }
    @media (min-width: 768px) {
      footer .form-heading {
        margin-top: 1.33em; } }
  footer .form-group {
    margin-bottom: 20px;
    font-size: 0; }
    footer .form-group input[type="email"] {
      width: 85%;
      height: 58px;
      padding: 0 20px;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
      font-size: 1.3rem;
      -webkit-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s; }
      footer .form-group input[type="email"]:focus {
        color: #57697F;
        background-color: #D7FFEF;
        border-right: none; }
      footer .form-group input[type="email"]::-webkit-input-placeholder, footer .form-group input[type="email"]:focus::-webkit-input-placeholder {
        color: #57697F; }
    footer .form-group .btn-contact {
      background-color: #82CA9C;
      width: 15%;
      height: 58px;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      vertical-align: bottom;
      cursor: pointer; }
  footer .form-info {
    color: #57697F;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem; }

/* === MEDIA QUERIES GLOBAL === */
@media (min-width: 576px) {
  /* Grid for Smartphones - Size sm */
  .col-sm-1 {
    width: 8.3333333333%; }
  .col-sm-2 {
    width: 16.6666666667%; }
  .col-sm-3 {
    width: 25%; }
  .col-sm-4 {
    width: 33.3333333333%; }
  .col-sm-5 {
    width: 41.6666666667%; }
  .col-sm-6 {
    width: 50%; }
  .col-sm-7 {
    width: 58.3333333333%; }
  .col-sm-8 {
    width: 66.6666666667%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-10 {
    width: 83.3333333333%; }
  .col-sm-11 {
    width: 91.6666666667%; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-offset-0 {
    margin-left: 0%; }
  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }
  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }
  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }
  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }
  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }
  .flex-sm-1 {
    flex: 8.3333333333%; }
  .flex-sm-2 {
    flex: 16.6666666667%; }
  .flex-sm-3 {
    flex: 25%; }
  .flex-sm-4 {
    flex: 33.3333333333%; }
  .flex-sm-5 {
    flex: 41.6666666667%; }
  .flex-sm-6 {
    flex: 50%; }
  .flex-sm-7 {
    flex: 58.3333333333%; }
  .flex-sm-8 {
    flex: 66.6666666667%; }
  .flex-sm-9 {
    flex: 75%; }
  .flex-sm-10 {
    flex: 83.3333333333%; }
  .flex-sm-11 {
    flex: 91.6666666667%; }
  .flex-sm-12 {
    flex: 100%; } }

@media (min-width: 768px) {
  /* Grid for Tablets - Size md */
  .col-md-1 {
    width: 8.3333333333%; }
  .col-md-2 {
    width: 16.6666666667%; }
  .col-md-3 {
    width: 25%; }
  .col-md-4 {
    width: 33.3333333333%; }
  .col-md-5 {
    width: 41.6666666667%; }
  .col-md-6 {
    width: 50%; }
  .col-md-7 {
    width: 58.3333333333%; }
  .col-md-8 {
    width: 66.6666666667%; }
  .col-md-9 {
    width: 75%; }
  .col-md-10 {
    width: 83.3333333333%; }
  .col-md-11 {
    width: 91.6666666667%; }
  .col-md-12 {
    width: 100%; }
  .col-md-offset-0 {
    margin-left: 0%; }
  .col-md-offset-1 {
    margin-left: 8.3333333333%; }
  .col-md-offset-2 {
    margin-left: 16.6666666667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.3333333333%; }
  .col-md-offset-5 {
    margin-left: 41.6666666667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.3333333333%; }
  .col-md-offset-8 {
    margin-left: 66.6666666667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.3333333333%; }
  .col-md-offset-11 {
    margin-left: 91.6666666667%; }
  .flex-md-1 {
    flex: 8.3333333333%; }
  .flex-md-2 {
    flex: 16.6666666667%; }
  .flex-md-3 {
    flex: 25%; }
  .flex-md-4 {
    flex: 33.3333333333%; }
  .flex-md-5 {
    flex: 41.6666666667%; }
  .flex-md-6 {
    flex: 50%; }
  .flex-md-7 {
    flex: 58.3333333333%; }
  .flex-md-8 {
    flex: 66.6666666667%; }
  .flex-md-9 {
    flex: 75%; }
  .flex-md-10 {
    flex: 83.3333333333%; }
  .flex-md-11 {
    flex: 91.6666666667%; }
  .flex-md-12 {
    flex: 100%; } }

@media (min-width: 992px) {
  /* Grid for Desktops - Size lg */
  .col-lg-1 {
    width: 8.3333333333%; }
  .col-lg-2 {
    width: 16.6666666667%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-4 {
    width: 33.3333333333%; }
  .col-lg-5 {
    width: 41.6666666667%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-7 {
    width: 58.3333333333%; }
  .col-lg-8 {
    width: 66.6666666667%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-10 {
    width: 83.3333333333%; }
  .col-lg-11 {
    width: 91.6666666667%; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-offset-0 {
    margin-left: 0%; }
  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }
  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }
  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }
  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }
  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }
  .flex-lg-1 {
    flex: 8.3333333333%; }
  .flex-lg-2 {
    flex: 16.6666666667%; }
  .flex-lg-3 {
    flex: 25%; }
  .flex-lg-4 {
    flex: 33.3333333333%; }
  .flex-lg-5 {
    flex: 41.6666666667%; }
  .flex-lg-6 {
    flex: 50%; }
  .flex-lg-7 {
    flex: 58.3333333333%; }
  .flex-lg-8 {
    flex: 66.6666666667%; }
  .flex-lg-9 {
    flex: 75%; }
  .flex-lg-10 {
    flex: 83.3333333333%; }
  .flex-lg-11 {
    flex: 91.6666666667%; }
  .flex-lg-12 {
    flex: 100%; } }

@media (min-width: 1200px) {
  /* Grid for Desktops - Size xl */
  .col-xl-1 {
    width: 8.3333333333%; }
  .col-xl-2 {
    width: 16.6666666667%; }
  .col-xl-3 {
    width: 25%; }
  .col-xl-4 {
    width: 33.3333333333%; }
  .col-xl-5 {
    width: 41.6666666667%; }
  .col-xl-6 {
    width: 50%; }
  .col-xl-7 {
    width: 58.3333333333%; }
  .col-xl-8 {
    width: 66.6666666667%; }
  .col-xl-9 {
    width: 75%; }
  .col-xl-10 {
    width: 83.3333333333%; }
  .col-xl-11 {
    width: 91.6666666667%; }
  .col-xl-12 {
    width: 100%; }
  .col-xl-offset-0 {
    margin-left: 0%; }
  .col-xl-offset-1 {
    margin-left: 8.3333333333%; }
  .col-xl-offset-2 {
    margin-left: 16.6666666667%; }
  .col-xl-offset-3 {
    margin-left: 25%; }
  .col-xl-offset-4 {
    margin-left: 33.3333333333%; }
  .col-xl-offset-5 {
    margin-left: 41.6666666667%; }
  .col-xl-offset-6 {
    margin-left: 50%; }
  .col-xl-offset-7 {
    margin-left: 58.3333333333%; }
  .col-xl-offset-8 {
    margin-left: 66.6666666667%; }
  .col-xl-offset-9 {
    margin-left: 75%; }
  .col-xl-offset-10 {
    margin-left: 83.3333333333%; }
  .col-xl-offset-11 {
    margin-left: 91.6666666667%; }
  .flex-xl-1 {
    flex: 8.3333333333%; }
  .flex-xl-2 {
    flex: 16.6666666667%; }
  .flex-xl-3 {
    flex: 25%; }
  .flex-xl-4 {
    flex: 33.3333333333%; }
  .flex-xl-5 {
    flex: 41.6666666667%; }
  .flex-xl-6 {
    flex: 50%; }
  .flex-xl-7 {
    flex: 58.3333333333%; }
  .flex-xl-8 {
    flex: 66.6666666667%; }
  .flex-xl-9 {
    flex: 75%; }
  .flex-xl-10 {
    flex: 83.3333333333%; }
  .flex-xl-11 {
    flex: 91.6666666667%; }
  .flex-xl-12 {
    flex: 100%; } }

/*# sourceMappingURL=style.css.map */