//Grid
$grid-columns: 12
$col-max-width: 100%
$col-min-width: $col-max-width / $grid-columns

//Grid system breakpoints
$break-sm: 576px
$break-md: 768px
$break-lg: 992px
$break-xl: 1200px

//Colors
$selection-bg-color: #82CA9C
$text-color: #FFFFFF
$bg-color: #FFFFFF
$h2-color: #222626
$h4-color: #67676d
$p-color: #959595
$box-1-color: #F5989D
$box-2-color: #615F7D
$box-3-color: #BD8CBF
$box-5-color: #82CA9C
$reasons-sec-bg-color: #82CA9C
$buying-sec-bg-color: #F6F7FA
$buying-h3-color: #2E3B4E
$buying-p-color: #8297A7
$label-bg-color: #E1E1E1
$label-hover-bg-color: #BD8CBF
$btn-bg-color: #82CA9C
$icon-color: #C5C5C5
$footer-color: #F6F7FA
$footer-bg-color: #192431
$form-info-color: #57697F
$focus-color: #D7FFEF
$outline-color: #509769

//Fonts
$base-font-family: 'Open Sans', sans-serif
$secondary-font-family: 'FontAwesome'

//Font weights
$light: 300
$regular: 400
$semi-bold: 600
$bold: 700
$extra-bold: 800

//Elements dimensions
$btn-contact-width: 15%

//Mixins
=grid-system($size)
    @for $i from 1 through $grid-columns
        .col-#{$size}-#{$i}
            width: $col-min-width * $i
    
=grid-offset-system($size)
    @for $i from 0 through $grid-columns - 1
        .col-#{$size}-offset-#{$i}
            margin-left: $col-min-width * $i

=flex-grid-system($size)
    @for $i from 1 through $grid-columns
        .flex-#{$size}-#{$i}
            flex: $col-min-width * $i
    
=basic-transition()
    -webkit-transition: all .3s
    -o-transition: all .3s
    transition: all .3s
    
=transition($property,$time)
    -webkit-transition: $property $time
    -o-transition: $property $time
    transition: $property $time
    
=tf-scale($k)
    -webkit-transform: scale($k)
    -ms-transform: scale($k)
    -o-transform: scale($k)
    transform: scale($k)

/* === GLOBAL STYLES === */
::selection
    color: $text-color
    background-color: $selection-bg-color

*
    box-sizing: border-box

html
    font-size: 62.5%

body
    font-family: $base-font-family
    background-color: $bg-color
    
.container
    max-width: 1200px
    width: 100%
    padding: 0 15px
    margin: 0 auto

h1
    font:
        size: 4.2rem
        weight: $light
    margin-top: 0
    @media (min-width: $break-md)
        font-size: 6rem

h2
    color: $h2-color
    font:
        size: 3.5rem
        weight: $light
    margin-top: 0
    
h3
    font:
        size: 3rem
        weight: $light
    line-height: 4rem
    
h4
    color: $h4-color
    font:
        size: 1.3rem
        weight: $semi-bold
    line-height: 2.4rem
    
p
    color: $p-color
    font-size: 1.4rem
    line-height: 2.4rem
    
a
    font:
        size: 1.4rem
        weight: $bold
    line-height: 2.4rem
    text-decoration: none
    border-bottom: 1px solid transparent
    +transition(border-bottom,.3s)
    &:focus
        outline-color: $outline-color
    &:hover
        border-bottom: 1px solid

img
    max-width: 100%
    height: auto
    
input, button
    outline: none
    border: none
    
/* === GRID SYSTEM STYLES - Mobile First === */
.row
    margin: 0 -15px
    &:before, &:after
        content: ''
        display: table
        clear: both

[class*="col-"]
    float: left
    width: 100%
    min-height: 1px
    padding: 0 15px
    
+grid-system(xs)
+grid-offset-system(xs)
    
[class*="flex-"]
    flex: 100%

/* === ADDITIONAL STYLES === */
.pos-rel
    position: relative
    
.arrow-right:after
    content: '\f178'
    font:
        family: $secondary-font-family
        weight: normal
    margin-left: 20px
    +transition(margin-left,.3s)

.arrow-right:hover:after
    margin-left: 25px
    
.heart:after
    content: '\f08a'
    font:
        size: 1.8rem
        family: $secondary-font-family
    position: absolute
    right: 30px
    bottom: 30px
    +basic-transition()
    
.heart:hover:after
    +tf-scale(1.3)
    
.box-1
    background-color: $box-1-color
.box-2
    background-color: $box-2-color
.box-3
    background:
        image: url('../img/box-s.jpg')
        repeat: no-repeat
        size: cover
.box-4
    background:
        image: url('../img/box-l.jpg')
        repeat: no-repeat
        size: cover
.box-5
    background-color: $box-5-color

/* === HEADER STYLES === */         
header
    height: 100vh
    background: 
        image: url('../img/masthead.jpg') 
        repeat: no-repeat 
        position: center
        size: cover
    overflow: hidden
    .container
        display: flex
        flex-wrap: wrap
        height: 100%
    .logo
        flex: 100%
        &:hover
            border-color: transparent
    .header-content
        color: $text-color
        max-width: 450px
        p
            font-size: 1.3rem
        h1, p
            color: inherit

/* === START-INFO SECTION STYLES === */
.start-info
    padding: 130px 0
    .iphone-img
        display: none
        @media (min-width: $break-lg)
            display: inline-block
            max-width: 50%
            position: absolute
            right: 0
            bottom: 70px
        @media (min-width: $break-xl)
            max-width: 100%

/* === BOXES SECTION STYLES === */
.boxes
    .container
        padding: 0
    .flex-container
        display: flex
        flex-wrap: wrap
    .flex-order
        order: 0
        @media (min-width: $break-md)
            order: 1
        @media (min-width: $break-lg)
            order: 0
    .box-item
        padding: 145px 0
        color: $text-color
        position: relative
        overflow: hidden
        @media (min-width: $break-md)
            padding: (69.5% / 2) 0
    .box-content
        display: flex;
        flex-direction: column
        justify-content: space-between
        padding: 30px
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        h3
            margin-top: 0
        p
            margin-bottom: 0
            font-size: 1.3rem
            overflow: hidden
        h3, p, a
            color: inherit
    .box-item-large
        padding: 145px 0
        @media (min-width: $break-md)
            padding: (34.75% / 2) 0

/* === DETAILS SECTION STYLES === */            
.details
    padding: 130px 0

/* === MORE-INFO SECTION STYLES === */    
.more-info
    height: 85vh
    padding-bottom: 5.1%
    background: 
        image: url('../img/wheel.jpg') 
        repeat: no-repeat
        position: left
        attachment: fixed
        size: cover
    overflow: hidden
    .container
        display: flex
        align-items: flex-end
        height: 100%
    .more-info-content
        color: $text-color
        @media (min-width: $break-md)
            max-width: 550px
        span
            @extend h1
        p
            font-size: 1.3rem
            @media (min-width: $break-md)
                max-width: 450px
            @media (min-width: $break-lg)
                margin-top: 4.07692em
        p, a
            color: inherit

/* === REASONS SECTION STYLES === */
.reasons
    padding: 130px 0
    color: $text-color
    background-color: $reasons-sec-bg-color
    h2, h4, p
        color: inherit

/* === BUYING SECTION STYLES === */          
.buying
    padding: 130px 0
    background-color: $buying-sec-bg-color
    .buying-content
        padding: 15% 10%
        color: $text-color
        +basic-transition()
        &:hover
            background-color: #FFFFFF
            box-shadow: 0 0 50px 0 rgba(0,0,0,.3)
        &:hover .label
            background-color: $label-hover-bg-color
        @media (min-width: $break-md)
            padding: 50px 45px
    h3
        color: $buying-h3-color
    p
        color: $buying-p-color
    .label
        display: inline-block
        padding: 1px 15px
        border-radius: 5px
        background-color: $label-bg-color
        font:
            size: 1.1rem
            weight: $extra-bold
        line-height: 2.2rem
        text-transform: uppercase
        +basic-transition()
    .btn-shop
        width: 150px
        height: 45px
        padding: 0
        border: none
        border-radius: 3px
        margin-bottom: 20px
        color: inherit
        background-color: $btn-bg-color
        font:
            size: 1.3rem
            weight: $bold
        line-height: 2.2rem
        letter-spacing: .2rem
        text-transform: uppercase
        cursor: pointer
        &:focus
            box-shadow: 0 0 15px 7px $focus-color
    i.fa
        color: $icon-color
        font-size: 2rem
        cursor: pointer
        +basic-transition()
        &:hover
            +tf-scale(1.5)
        & + i.fa
            margin-left: 15px

/* === FOOTER STYLES === */        
footer
    padding: 130px 0
    color: $footer-color
    background-color: $footer-bg-color
    p
        font-size: 1.3rem
    p, h4
        color: inherit
    ul
        padding: 0
        margin: 0
        list-style: none
        & a
            color: inherit
            font:
                size: 1.3rem
                weight: $regular
    .form-heading
        margin-top: 3rem
        @media (min-width: $break-md)
            margin-top: 1.33em
    .form-group
        margin-bottom: 20px
        font-size: 0
        input[type="email"]
            width: 100% - $btn-contact-width
            height: 58px
            padding: 0 20px
            border:
                top-left-radius: 2px
                bottom-left-radius: 2px
            font-size: 1.3rem
            +transition(all,.5s)
            &:focus
                color: $form-info-color
                background-color: $focus-color
                border-right: none
            &::-webkit-input-placeholder, &:focus::-webkit-input-placeholder
                color: $form-info-color
        .btn-contact
            background-color: $btn-bg-color
            width: $btn-contact-width
            height: 58px
            border:
                top-right-radius: 2px
                bottom-right-radius: 2px
            vertical-align: bottom
            cursor: pointer
    .form-info
        color: $form-info-color
        font:
            size: 1.2rem
            weight: $regular
        line-height: 1.8rem

/* === MEDIA QUERIES GLOBAL === */
@media (min-width: $break-sm)
    /* Grid for Smartphones - Size sm */
    +grid-system(sm)
    +grid-offset-system(sm)
    +flex-grid-system(sm)
        
@media (min-width: $break-md)
    /* Grid for Tablets - Size md */
    +grid-system(md)
    +grid-offset-system(md)
    +flex-grid-system(md)
        
@media (min-width: $break-lg)
    /* Grid for Desktops - Size lg */
    +grid-system(lg)
    +grid-offset-system(lg)
    +flex-grid-system(lg)
        
@media (min-width: $break-xl)
    /* Grid for Desktops - Size xl */
    +grid-system(xl)
    +grid-offset-system(xl)
    +flex-grid-system(xl)